<section id="single_post">
    <div id="description">
        <div id="top">
            <h4>
                <%= @post.title%>
            </h4>
            <small>Comments <%= @post.comments_counter %>, likes <%= @post.likes_counter %></small>
        </div>
       <%= @post.title %>
       <%= @post.text%>
    </div>
    <div id="post_comments">
        <% 10.times do %>
            <%= render 'comment' %>
        <% end %>
    </div>
</section>